<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder location="classpath:musicPlayer.properties" />-->
<!--    <bean id="musicBean"-->
<!--          class="com.ex.springCore.RockMusic">-->
<!--    </bean>-->

<!--    <bean id="musicBean2"-->
<!--          class="com.ex.springCore.ClassicMusic">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer"-->
<!--          class="com.ex.springCore.MusicPlayer"-->
<!--          scope="prototype"-->
<!--          init-method="printStart"-->
<!--            destroy-method="">-->

<!--&lt;!&ndash;        <constructor-arg ref="musicBean" > </constructor-arg>&ndash;&gt;-->
<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="count" value="${musicPlayer.count}"/>-->
<!--        <property name="name" value="Soud name"/>-->
<!--        <property name="volume" value="5"/>-->
<!--    </bean>-->
    <context:component-scan base-package="com.ex.springCore" />

</beans>

